@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background-color: #c0e2f3;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav a {
  display: block;
  text-decoration: none;
  color: #333;
  padding: 10px;
}

select {
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

select:focus {
  outline: none;
  border-color: #888;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.banner {
  height: 100px;
  background-color: hsl(212, 100%, 97%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #000000;
}

.requests-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1rem;
  border: #000000;
}

.requests-table {
  border-collapse: collapse;
  width: 100%;
  max-width: 1100px;
  margin-top: 1rem;
}

.requests-table th {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.requests-table td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.requests-table th {
  background-color: #f2f2f2;
}

.submit-request-btn {
  display: flex;
  background-color: #007bff;
  color: #fff;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
}

.close-modal {
  color: #aaa;
  float: right;
  font-size: 18px;
  font-weight: bold;
}

.close-modal:hover {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.save-request-btn {
  display: flex;
  background-color: #007bff;
  color: #fff;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
}

.modal-content input[type="text"],
.modal-content input[type="date"],
.modal-content input[type="number"] {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 1rem;
}

.management-tr {
  cursor: pointer;
}

